 h1  {text-align: center; color: red;}
.section3   {
    text-align: center;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    width: 105%;
    margin: 5;
    padding: 5;}
.column{
    margin: 20px;
    width: 20%;
    border: 3px solid white
}
.column2{
    margin: 40px;
    width: 20%;
    text-align: center;
}

img {
    margin-left: 30px;
}
body {background-color: maroon;}